.vscode/settings.json
automated-testing-training/completed/completed-models
automated-testing-training/completed/completed-models-old
AutomatedTestingLibrary/Tests/__pycache__
AutomatedTestingLibrary/Classes/__pycache__
AutomatedTestingLibrary/__pycache__
TrainedModels
.vscode/ltex.disabledRules.en-US.txt
Web-interface/Frontend/node_modules
disc1
disc2
disc3
disc4
disc5
disc6
disc7
disc8
disc9
disc10
disc11
disc12
processed_scans